/* Variables */
.button {
    --color-brand: var(--color-theme_brand); /* Modify to your variable */
    --color-brand-hover: var(--color-theme_brand-hover); /* Modify to your variable */
    --color-brand-border: var(--color-theme_brand-border); /* Modify to your variable */
}

.button {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--color-brand);
    transition: all 150ms cubic-bezier(0, 0, 0.2, 1);
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-brand-hover);
}

.button:focus {
    outline: 1px solid var(--color-brand-border);
    box-shadow: 0 0 5px var(--color-brand-border);
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button:disabled:hover {
    background-color: var(--color-brand);
}
