/* Variables */
.toast {
    --color-bg: var(--color-theme_neutral-800); /* Modify to your variable */
    --color-border: var(--color-theme_neutral-600); /* Modify to your variable */
}

.toast {
    position: fixed;
    bottom: 2.5rem;
    right: -2.5rem;
    transform: translate(100%, 0%);
    max-width: calc(100% - 80px);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    gap: 0.25rem;
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    border-radius: 0.25rem;
    transition: all 150ms;
}
.toast[class*="show"] {
    right: 2.5rem;
    transform: translate(0%, 0%);
}

.toast__title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.toast__closeBtn {
    margin-left: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@media (min-width: 640px) {
    .toast {
        max-width: 24rem;
    }
}
