/* Variables */
.carousel {
    --color-arrow: var(--color-theme_neutral-0); /* Modify to your variable */
}

.carousel {
    width: 100%;
    max-width: 64rem;
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
}

.carousel__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5rem;
    height: 5rem;
    z-index: 50;
    cursor: pointer;
}

.carousel__btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border: 5px solid var(--color-arrow);
    border-top: 0;
    border-left: 0;
    opacity: 0.5;
    transition: all 150ms cubic-bezier(0, 0, 0.2, 1);
}
.carousel__btn:hover::after {
    opacity: 1;
}

.carousel__btn--prev {
    left: 0;
}

.carousel__btn--prev::after {
    transform: translate(-50%, -50%) rotate(135deg);
}

.carousel__btn--next {
    right: 0;
}

.carousel__btn--next::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.carousel__content {
    position: absolute;
    inset: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

.carousel__content > * {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    transform: translateX(0);
    object-fit: cover;
    z-index: 10;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.carousel__content > *:first-child {
    z-index: 20;
}

.carousel__content > *[class*="current"] {
    transform: translateX(0);
    z-index: 20;
}

.carousel__content > *[class*="current"] ~ * {
    transform: translateX(100%);
}

.carousel__content > *:has(+ *[class*="current"]) {
    transform: translateX(-100%);
}
